<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">WATCH!</h1>
      <p class="lead text-muted">영화평점 사이트 왓챠!</p>
      <p>
        <%= link_to "게시판", posts_path, class: "btn btn-primary"%>
        <%= link_to "영화 추가하기", new_movie_path, class: "btn btn-secondary" if check_admin %>
      </p>
    </div>
  </section>

  <div class="album text-muted">
    <div class="container">

      <div class="row">
        <% @movies.each do |movie| %>
          <div class="card">
            <img height="280px" src="<%= movie.poster %>" alt="Card image cap">
            <p class="card-title"><%= movie.average == 0 ? "리뷰가 없어유ㅠㅠ" : movie.average %></p>
            <a class="card-text" href="/movies/<%= movie.id %>">
              <%= movie.title %>
            </a>
          </div>
        <% end %>
      </div>

    </div>
  </div>

</main>
