<main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
  <h1>관리자 페이지</h1>
  <h2>유저 현황</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>이메일</th>
          <th>닉네임</th>
          <th>역할</th>
          <th>역할변경</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.email %></td>
            <td><%= user.nickname %></td>
            <td><%= user.role %></td>
            <td>
              <%= link_to "매니저로", "/admin/to_manager/#{user.id}", class: 'btn btn-primary', method: :put, data: {confirm: "매니저로 승급시키시겠습니까?"} %>
              <%= link_to "양민으로", "/admin/to_user/#{user.id}", class: 'btn btn-primary', method: :put, data: {confirm: "정말로 추방시키시겠습니까?"} %><br>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</main>
