<!DOCTYPE html>
<html>
<head>
  <title>Watcha</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p id="notice"><%= notice %></p>
  <p id="alert"><%= alert %></p>

  <%= link_to "게시판", posts_path %>
  <%= link_to "로그아웃", destroy_user_session_path, method: :delete %>
  <%= link_to "로그인", new_user_session_path %>

<%= yield %>

</body>
</html>
